/* resources.scss */

@mixin body() {
    margin: 0 auto;
    font-size: 1em;
    color: #2A394F;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 70px;
    padding-top: 86px;
    .page-enter-active,
    .page-leave-active {
        transition-property: opacity;
        transition-timing-function: ease-in-out;
        transition-duration: 144ms;
    }
    .page-enter,
    .page-leave-to {
        opacity: 0;
    }
    .btn:focus,
    .btn:active {
        outline: none !important;
        box-shadow: none;
    }
    ;
    .jumbotron {
        margin-bottom: 0;
        padding: 4rem 16px;
        min-height: 360px;
    }
    ;
    .jumbo-row {
        border-bottom: solid 32px #312633;
    }
    ;
    .btn-brand {
        background-color: #312633;
        border-color: #312633;
        border-radius: 0px;
        outline: none;
        font-family: 'Crete Round', serif;
        color: white;
    }
    ;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Crete Round', serif;
        color: #2A394F;
    }
    ;
    .lead {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.25rem;
    }
    // * {
    //     outline: solid 1px
    // }
}

@mixin logo() {
    // background: url('../assets/logo.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 2.4em;
    color: #f6cc9b;
    font-family: 'Crete Round', serif;
    width: 280px;
    padding-top: 12px;
    height: 70px;
    &:hover {
        color: #f6cc9b
    }
    ;
    &:active {
        color: #f6cc9b
    }
    ;
    &:focus {
        color: #f6cc9b
    }
}

@mixin navbar() {
    font-family: 'Crete Round', serif;
    background-color: #312633;
    .btn-primary {
        height: 60px;
        padding-top: 30px
    }
}

@mixin btn-primary() {
    background-color: #312633;
    border-color: #312633;
    border-radius: 0px;
    outline: none;
    font-family: 'Crete Round', serif;
    &:hover {
        background-color: #2A394F;
    }
    ;
    &:active {
        background-color: #2A394F
    }
}

@mixin footer() {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 42px;
    padding-top: 8px;
    background-color: #312633;
}